code {
	background: var(--a-surface-alt-1-subtle);
	border-radius: var(--a-border-radius-small);
	padding: 0.1rem 0.3rem;
	font-size: 0.7rem;
}

.shiki {
	padding: 1rem;
	font-size: 0.8rem;

	code {
		background: none;
		border-radius: none;
		padding: 0;
		font-size: 1rem;
	}
}
